<div class="container">
    <a id="openCardPaymentModal" class="waves-effect waves-light btn-small right light-blue darken-4 modal-trigger" href="#cardPaymentModal" style="display: none;">Open modal</a>
    <a id="openBankPaymentModal" class="waves-effect waves-light btn-small right light-blue darken-4 modal-trigger" href="#bankPaymentModal" style="display: none;">Open modal</a>
    <div class="row">
        <h3 class="main-heading center">Donar</h3>

        <form class="col s12" #frmDonation="ngForm">
            <div class="row">
                <div class="input-field col s12">
                    <input id="donerId" placeholder="Donante" disabled type="text" class="validate" name="donerID" required>
                    <!--<label for="name">Nombre</label>-->
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="amount" placeholder="Importe a donar" type="number" class="validate" name="amount" required>
                    <!--<label for="description">Descripción</label>-->
                </div>
            </div>
            <div class="row">
                <!--<div class="input-field col s12">
                    <input id="projectIdAdd" placeholder="Proyecto que recibe la donación" type="text" class="validate" name="projectId" #projectId="ngModel" [(ngModel)]="donationService.selectedDonation.projectId" required>
                    <label for="description">Descripción</label>
                </div>-->
                <label style="padding: 0 0.75rem;">Donar para:</label>
                <div class="input-field col s12">
                <select id="projectId" class="validate browser-default" name="projectId" required>
                    <option value="General" selected>Todos los proyectos</option>
                    <option *ngFor="let project of projectService.projects" value="{{ project._id }}">{{ project.name }}</option>
                </select>
                </div>
            </div>
            <div class="row">
                <label style="padding: 0 0.75rem;">Método de pago</label>
                <div class="input-field col s12">
                    <select id="paymentMethod" class="validate browser-default" name="paymentMethod" required (change)="checkMethod()">
                        <option value="" disabled selected>Elija una forma de pago</option>
                        <option value="tarjeta">Tarjeta</option>
                        <option value="domiciliacion">Domiciliación bancaria</option>
                        <!--<option value="paypal">Paypal</option>-->
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="paymentDateAdd" disabled placeholder="Fecha del pago dd/mm/yyyy" type="text" class="datepicker" name="paymentDate" required>
                    <!--<label for="birthday">Fecha del evento</label>-->
                </div>
            </div>
        </form>        
    </div>

    <!-- Card Payment Modal -->
    <div id="cardPaymentModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <form id="payment-form">
                    <div id="card-element"></div>
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Donar</span>
                    </button>
                    <p id="card-error" role="alert"></p>
                    <p class="result-message hidden">
                        El pago ha sido realizado correctamente
                        <a href="" target="_blank">Stripe.</a> Refresque para volver a pagar.
                    </p>
                </form>
            </div>
            <div class="row">
                <button class="btn btn-neutral modal-close right">Cerrar</button>
            </div>
        </div>
    </div>

    <!-- Bank Data Modal -->
    <div id="bankPaymentModal" class="modal">
        <div class="modal-content">
            <div class="row" id="bankTransferData">
                <table> 
                    <tbody> 
                        <tr> 
                            <td>Entidad:</td> 
                            <td id="bankName">Banco Santander</td> 
                        </tr> 
                        <tr> 
                            <td>Nº de cuenta:</td> 
                            <td id="accountNumber">ES6000491500051234567892</td> 
                        </tr> 
                        <tr> 
                            <td>Concepto:</td> 
                            <td id="transferConcept">Donación para el proyecto X</td> 
                        </tr> 
                    </tbody> 
                </table>
            </div>
            <i class="material-icons" title="Descargar en PDF" style="cursor: pointer;color: red;" (click)="exportToPDF()">picture_as_pdf</i>
            <div class="row">
                <button class="btn btn-neutral modal-close right">Cerrar</button>
            </div>
        </div>
    </div>
</div>