<div class="container center-align">
    <div class="row">
        <div class="col s6 push-s3">
        <h3 class="header" style="color: #333;">Crear una cuenta</h3>
        <div class="card-panel">
            <div class="row">
                <form class="col s12" #frmRegister="ngForm" (ngSubmit)="onRegister(frmRegister)">
                    <div class="row">
                        <!--<div class="input-field col s6">
                          <input id="first_name" type="text" class="validate" name="first_name" ngModel required>
                          <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" name="last_name" ngModel required>
                            <label for="last_name">Last Name</label>
                        </div>-->
                        <div class="input-field col s12">
                          <input id="name" [(ngModel)]="user.name" type="text" class="validate" name="name" ngModel required>
                          <label for="name">Nombre y apellidos</label>
                      </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="register_email" [(ngModel)]="user.email" type="text" class="validate" name="email" ngModel required>
                            <label for="register_email">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" [(ngModel)]="user.password" class="validate" name="password" ngModel required>
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                          <input id="birthday" type="text" [(ngModel)]="user.birthday" class="datepicker validate" name="birthday" ngModel required>
                          <label for="birthday">Fecha de nacimiento</label>
                      </div>
                  </div>
                  <div class="row">
                    <!--<div class="input-field col s12">
                        <input id="role" type="text" [(ngModel)]="user.role" class="validate" name="role" ngModel required>
                        <label for="role">Tipo de usuario</label>
                    </div>-->
                    <div class="input-field col s12">
                      <select id="roleSelect" [(ngModel)]="user.role" class="validate" name="role" ngModel required>
                        <option value="superadmin">Superadmin</option>
                        <option value="admin">Admin</option>
                        <option value="doner">Doner</option>
                        <option value="registered" selected>Registered</option>
                      </select>
                      <label>Tipo de usuario</label>
                    </div>
                </div>
                  <div class="row" style="margin-bottom: 1rem;">
                    <label>¿Quiere recibir novedades?</label>
                    <div class="input-field col s12">
                      <div class="switch">
                        <label>
                          No
                          <input id="notifications" [(ngModel)]="user.newsletter" type="checkbox" name="notifications" ngModel>
                          <span class="lever" checked></span>
                          Yes
                        </label>
                      </div>
                    </div>
                  </div>
                  <button id="registerButton" class="btn waves-effect waves-light light-blue darken-4 s6" type="submit" name="action">Crear cuenta</button>
                </form>
            </div>
            <a href="/login">¿Ya tienes una cuenta?</a>
        </div>
        </div>
  </div>
</div>