<div class="container center">
    <div class="row">
        <div class="col s6 push-s3">
        <h3 class="header" style="color: #333;">Recuperar contraseña</h3>
        <div class="card-panel">
            <div class="row">
                <form class="col s12 left-align">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="recoveryEmail" type="email" class="validate" name="email" required>
                            <label for="recoveryEmail">Correo electrónico</label>
                            <span class="helper-text" data-error="Correo incorrecto"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="newPassword" type="password" class="validate" name="password" pattern=".{6,}" required title="Mínimo 6 caracteres">
                            <label for="newPassword">Contraseña</label>
                            <span class="helper-text" data-error="Introduce una contraseña correcta">Mínimo 6 caracteres</span>
                        </div>
                    </div>   
                    <div class="row center">
                        <button id="resetPasswordButton" class="btn waves-effect waves-light light-blue darken-4" name="action" (click)="resetPassword()">Resetear contraseña</button>
                    </div>                 
                </form>
            </div>
            <a href="/login">Ya me acuerdo de la contraseña!</a>
        </div>
        </div>
  </div>
</div>
