<nav style="background-color: #008dc9;padding: 0 1em;">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="height: 100%;"><img style="height: 100%;" src="https://www.who.int/ResourcePackages/WHO/assets/dist/images/logos/en/h-logo-white.svg" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>