<div class="container center">
    <div class="row">
        <h3 style="text-align: center;padding-bottom: 10px;border-bottom: solid 1px #e8e8e8;color: #3c4245;">Backoffice</h3>
        <a href="/manage/users">
            <div class="col s6">
                <div class="card-panel light-blue darken-4">
                <h5><span class="white-text">Gestionar Usuarios <i class="material-icons small">contacts</i></span></h5>
                </div>
            </div>
        </a>
        <a href="/manage/projects">
            <div class="col s6">
                <div class="card-panel light-blue darken-4">
                <h5><span class="white-text">Gestionar Proyectos <i class="material-icons small">work</i></span></h5>
                </div>
            </div>
        </a>
        <a href="/manage/donations">
            <div class="col s6">
                <div class="card-panel light-blue darken-4">
                <h5><span class="white-text">Gestionar Donaciones <i class="material-icons small">payment</i></span></h5>
                </div>
            </div>
        </a>
        <a href="/manage/web">
            <div class="col s6">
                <div class="card-panel light-blue darken-4">
                <h5><span class="white-text">Gestionar Web <i class="material-icons small">web</i></span></h5>
                </div>
            </div>
        </a>
        <a href="/manage/notifications">
            <div class="col s6">
                <div class="card-panel light-blue darken-4">
                <h5><span class="white-text">Gestionar Notificaciones <i class="material-icons small">notifications</i></span></h5>
                </div>
            </div>
        </a>
        <a href="/manage/newsletter">
            <div class="col s6">
                <div class="card-panel light-blue darken-4">
                <h5><span class="white-text">Gestionar Newsletter <i class="material-icons small">email</i></span></h5>
                </div>
            </div>
        </a>
    </div>
</div>
