<div class="container center-align">
    <div class="row">
        <div class="col s6 push-s3">
        <h3 class="header" style="color: #333;">Login</h3>
        <div class="card-panel">
            <div class="row">
                <form class="col s12" #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="login_email" type="text" class="validate" name="email" ngModel required>
                            <label for="login_email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" name="password" ngModel required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <button id="loginButton" class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                </form>
            </div>
            <a href="/register">Create and account here</a>
        </div>
        </div>
  </div>
</div>