/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Hide elements class */
.hidden {
    display: none;
}

.btn {
    background-color: #01579b;
}

.btn:hover {
    background-color: #4fc3f7;
}

/* Neutral button style */
.btn-neutral {
    background-color: white;
    color: #01579b;
    font-weight: 500;
}

.btn-neutral:focus {
    background-color: #cfd8dc;
}

.btn-neutral:hover {
    background-color: #eceff1;
}

/* Progress bar */
.progress {
    background-color: #e1f5fe;
}

.progress .indeterminate {
    background-color: #01579b;
}

/* Checkbox */
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #01579b;
    background-color: #01579b;
}

/* Main heading style */
.main-heading {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px #e8e8e8;
    color: #3c4245;
}

/* Iconos dentro de las tablas */
td i {
    margin-right: 0.7rem;
    cursor: pointer;
}

/* Links color: a */
a {
    color: #01579b;
}

/* Delete link in red */
a.delete {
    color: #B71C1C;
}

/* Delete icon in red */
i.delete {
    color: #B71C1C;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #03a9f4 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

/* Datepicker colors */
.datepicker-table td.is-today {
    color: #ffffff;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .dropdown-content li>a, .dropdown-content li>span {
    color: #03a9f4 !important;
}

.datepicker-date-display {
    background-color:#03a9f4 !important;
  }
.datepicker-weekday-display {
    background-color:#03a9f4 !important;
}
.datepicker-day--selected, .datepicker-day--selected:hover, .datepicker--focused .datepicker-day--selected, .datepicker-table td.is-selected, .datepicker-table td.is-today {
    background-color:#03a9f4 !important;
}

button:focus.month-next {
    background-color:#03a9f4 !important;
}

button.btn-flat:focus {
    color: #000 !important;
}

/* Sqitch button */
.switch label input[type=checkbox]:checked+.lever, .switch label input[type=checkbox]:checked+.lever:after {
    background-color:#03a9f4 !important;
}
