<div class="container">
  <h3 class="main-heading">User Managemenet</h3>
  <table class="responsive-table stripped highlight centered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Birthday</th>
          <th>Newsletter</th>
          <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of userService.users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.newsletter }}</td>
        <td><i class="material-icons small">edit</i><i class="material-icons small">delete</i><i class="material-icons">content_paste</i></td>
      </tr>
    </tbody>
  </table>
</div>
