table {
    border-collapse: unset;
}

td:first-child {
    width: 20%;
    font-weight: bold;
}

img {
    width: 100%;
}

.buttons {
    text-align: end;
    margin-top: 1rem;
}

.buttons a {
    margin: 0 0.5rem;
}