<div id="newsletterSection" class="light-blue darken-4">
  <div class="container">
    <h5 class="white-text brand-logo center">SUSCRÍBETE A NUESTRO BOLETÍN</h5>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">email</i>
        <input id="newsletterEmailInput" type="text" class="validate">
        <label for="newsletterEmailInput">Correo Electrónico</label>
      </div>
      <a id="subscribeNewsletter" class="waves-effect waves-light btn col s4 offset-s4" (click)="subscribeEmail()">SUSCRIBIRSE</a>
    </div>
  </div>
</div>
<footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer</h5>
          <p class="grey-text text-lighten-4">Aquí se pueden añadir más columnas e información para el footer.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Páginas</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/about">Sobre nosotros</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact">Contacto</a></li>
            <li><a class="grey-text text-lighten-3" href="/login" *ngIf="!isLogged">Iniciar sesión</a></li>
            <li><a class="grey-text text-lighten-3" href="/register" *ngIf="!isLogged">Crear cuenta</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © <span id="copyright-year"></span> Todos los derechos reservados
      <a class="grey-text text-lighten-4 right" href="#!">Facebook</a>
      </div>
    </div>
</footer>
