<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer</h5>
          <p class="grey-text text-lighten-4">Aquí se pueden añadir más columnas e información para el footer.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Páginas</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/about">About us</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
            <li><a class="grey-text text-lighten-3" href="/register">Register</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © <span id="copyright-year"></span> All rights reserved
      <a class="grey-text text-lighten-4 right" href="#!">Facebook</a>
      </div>
    </div>
</footer>
