<div class="container">
    <h3 class="main-heading">Gestión de proyectos</h3>
    <a id="addProjectAction" class="waves-effect waves-light btn-small right light-blue darken-4 modal-trigger" href="#addProjectForm"><i class="material-icons">add</i></a>
    <a id="deleteProjectAction" class="waves-effect waves-light btn-small right light-blue darken-4 modal-trigger" href="#deleteProjectModal" style="display: none;"><i class="material-icons">delete</i></a>
    <table class="responsive-table stripped highlight">
      <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let project of projectService.projects">
          <td class="hidden">{{ project._id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>
            <a class="modal-trigger" href="#projectDetailsForm"><i class="material-icons" (click)="viewProjectDetails(frmProjectDetails, project)">content_paste</i></a>
            <a class="modal-trigger" href="#editProjectForm"><i class="material-icons" (click)="editProject(frmEditProject, project)">edit</i></a>
            <a class="modal-trigger" href="#deleteProjectModal"><i class="material-icons" (click)="showDeleteProjectConfirmation(project._id, project.name)">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Add Project Form Modal -->
    <div id="addProjectForm" class="modal">
      <div class="modal-content">
        <h4 class="main-heading" id="modalTitle">Añadir proyecto</h4>
          <div class="row">
            <form class="col s12" #frmAddProject="ngForm">
              <div class="row">
                  <div class="input-field col s12">
                    <input id="name" placeholder="Nombre" type="text" class="validate" name="name" #name="ngModel" [(ngModel)]="projectService.selectedProject.name" required>
                    <!--<label for="name">Nombre</label>-->
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <input id="description" placeholder="Descripción" type="text" class="validate" name="description" #description="ngModel" [(ngModel)]="projectService.selectedProject.description" required>
                      <!--<label for="description">Descripción</label>-->
                  </div>
              </div>
              <div class="file-field input-field">
                <div class="btn">
                  <span>Ficheros</span>
                  <input id="files" type="file" multiple (change)="handleFileInput($event)" name="files" >
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Sube los ficheros del proyecto">
                </div>
                <div id="progressBar" class="progress" style="display: none;">
                  <div class="indeterminate"></div>
                </div>
              </div>
              <div class="row" style="margin-top: 3rem;">
                <button id="closeAddProjectModal" style="margin-right: 0.2rem;" class="btn btn-neutral modal-close" (click)="clearForm(frmAddProject)">Cancelar</button> 
                <button id="addProjectForm" class="btn waves-effect waves-light light-blue darken-4 right modal-close" (click)="addProject(frmAddProject)" name="action">Añadir</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Project Form Modal -->
    <div id="editProjectForm" class="modal">
      <div class="modal-content">
        <h4 class="main-heading" id="modalTitle">Actualizar proyecto</h4>
          <div class="row">
            <form class="col s12" #frmEditProject="ngForm">
              <input id="id" name="_id" type="hidden" #_id="ngModel" [(ngModel)]="projectService.selectedProject._id">
              <div class="row">
                  <div class="input-field col s12">
                    <input id="name" placeholder="Nombre" type="text" class="validate" name="name" #name="ngModel" [(ngModel)]="projectService.selectedProject.name" required>
                    <!--<label for="name">Nombre</label>-->
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <input id="description" placeholder="Descripción" type="text" class="validate" name="description" #description="ngModel" [(ngModel)]="projectService.selectedProject.description" required>
                      <!--<label for="description">Descripción</label>-->
                  </div>
              </div>
              <div class="row">
                <button id="closeEditProjectModal" style="margin-right: 0.2rem;" class="btn btn-neutral modal-close" (click)="clearForm(frmEditProject)">Cancelar</button> 
                <button id="editPprojectForm" class="btn waves-effect waves-light light-blue darken-4 right modal-close" (click)="updateProject(frmEditProject)" name="action">Actualizar</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Project Details Form Modal -->
    <div id="projectDetailsForm" class="modal">
      <div class="modal-content">
        <h4 class="main-heading" id="modalTitle">Información del proyecto</h4>
          <div class="row">
            <form class="col s12" #frmProjectDetails="ngForm">
              <input id="id" name="_id" type="hidden" #_id="ngModel" [(ngModel)]="projectService.selectedProject._id">
              <div class="row">
                  <div class="input-field col s12">
                    <input id="name" placeholder="Nombre" type="text" class="validate" name="name" #name="ngModel" [(ngModel)]="projectService.selectedProject.name" disabled>
                    <label for="name">Nombre</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <input id="description" placeholder="Descripción" type="text" class="validate" name="description" #description="ngModel" [(ngModel)]="projectService.selectedProject.description" disabled>
                      <label for="description">Descripción</label>
                  </div>
              </div>
              <button id="closeProjectDetailsModal" class="btn btn-neutral modal-close right">Cerrar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Confirmation -->
    <div id="deleteProjectModal" class="modal">
      <div class="modal-content">
        <input id="projectID" type="hidden">
        <input id="projectName" type="hidden">
        <h5>¿Seguro que quiere borrar el proyecto '<span id="projectNameDelete"></span>'?</h5>
        <p>El proyecto se borrará permanentemente.</p>
      </div>
      <div class="modal-footer">
        <button style="margin-right: 0.5rem;" class="btn btn-neutral modal-close">Cancelar</button>
        <button id="deleteProjectModalButton" class="btn waves-effect waves-light red darken-4 right modal-close" (click)="deleteProject()">Borrar</button>
      </div>
    </div>
  </div>
  