<div class="container">
    <h3 class="main-heading">Gestión de proyectos</h3>
    <div class="row">
      <a id="addProjectAction" class="waves-effect waves-light btn-small left light-blue darken-4 modal-trigger" href="#addProjectForm"><i (click)="clearForm(frmAddProject)" class="material-icons">add</i></a>
      <a id="deleteProjectAction" class="waves-effect waves-light btn-small right light-blue darken-4 modal-trigger" href="#deleteProjectModal" style="display: none;"><i class="material-icons">delete</i></a>
    </div>
    <div class="row" *ngIf="!projectsAvailable">
      <h5 class="center" style="color: lightgray;">No hay proyectos a mostrar <i class="material-icons" style="vertical-align: bottom;">sentiment_dissatisfied</i></h5>
    </div>
    <table class="responsive-table stripped highlight" *ngIf="projectsAvailable">
      <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Ubicación</th>
            <th>Acciones</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let project of projectService.projects">
          <td class="hidden">{{ project._id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.location }}</td>
          <td>
            <a class="modal-trigger" href="#projectDetailsForm"><i class="material-icons" (click)="viewProjectDetails(project)">remove_red_eye</i></a>
            <a class="modal-trigger" href="#editProjectForm"><i class="material-icons" (click)="editProject(frmEditProject, project)">edit</i></a>
            <a class="modal-trigger delete" href="#deleteProjectModal"><i class="material-icons" (click)="showDeleteProjectConfirmation(project._id, project.name)">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Add Project Form Modal -->
    <div id="addProjectForm" class="modal">
      <div class="modal-content">
        <h4 class="main-heading">Añadir proyecto</h4>
          <div class="row">
            <form class="col s12" #frmAddProject="ngForm">
              <div class="row">
                  <div class="input-field col s12">
                    <input id="nameAdd" placeholder="Nombre" type="text" class="validate" name="name" #name="ngModel" [(ngModel)]="projectService.selectedProject.name" required>
                    <!--<label for="name">Nombre</label>-->
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <input id="descriptionAdd" placeholder="Descripción" type="text" class="validate" name="description" #description="ngModel" [(ngModel)]="projectService.selectedProject.description" required>
                      <!--<label for="description">Descripción</label>-->
                  </div>
              </div>
              <div class="row">
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Ubicación<span id="coordenadas" class="hidden"></span><span id="location" class="hidden"></span></div>
                    <div class="collapsible-body">
                      <div id="map"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="file-field input-field">
                <div class="btn">
                  <span>Ficheros</span>
                  <input id="filesAdd" type="file" multiple (change)="handleFileInput($event)" name="files" >
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Sube los ficheros del proyecto">
                </div>
                <div id="progressBarAdd" class="progress" style="display: none;">
                  <div class="indeterminate"></div>
                </div>
              </div>
              <div class="row hidden">
                <ul class="collapsible">
                  <li *ngIf="hasDocuments">
                    <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
                    <div *ngFor="let file of fileService.files" class="collapsible-body _{{file._id}}">
                      <span><strong>Nombre:</strong> {{ file.name }}</span><br>
                      <span><strong>Tamaño:</strong> {{ (file.size/1024).toFixed() }} KB</span><br>
                      <span><strong>Tipo:</strong> {{ file.type }}</span>
                      <span class="right" style="cursor: pointer;"><i id="{{file._id}}" class="material-icons delete" (click)="deleteFile($event)">delete</i></span>
                    </div>
                  </li>
                  <li *ngIf="!hasDocuments">
                    <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
                    <div class="collapsible-body"><i class="material-icons" style="vertical-align: bottom;margin-right: 1rem;">do_not_disturb_alt</i>No hay documentos subidos</div>
                  </li>
                </ul>
              </div>
              <div class="row" style="margin-top: 3rem;">
                <button id="closeAddProjectModal" style="margin-right: 0.2rem;" class="btn btn-neutral modal-close" (click)="clearForm(frmAddProject)">Cancelar</button> 
                <button id="addProjectForm" class="btn waves-effect waves-light light-blue darken-4 right modal-close" (click)="addProject(frmAddProject)" name="action">Añadir</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Project Form Modal -->
    <div id="editProjectForm" class="modal">
      <div class="modal-content">
        <h4 class="main-heading">Actualizar proyecto</h4>
          <div class="row">
            <form class="col s12" #frmEditProject="ngForm">
              <input id="idEdit" name="_id" type="hidden" #_id="ngModel" [(ngModel)]="projectService.selectedProject._id">
              <div class="row">
                  <div class="input-field col s12">
                    <input id="nameEdit" placeholder="Nombre" type="text" class="validate" name="name" #name="ngModel" [(ngModel)]="projectService.selectedProject.name" required>
                    <!--<label for="name">Nombre</label>-->
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <input id="descriptionEdit" placeholder="Descripción" type="text" class="validate" name="description" #description="ngModel" [(ngModel)]="projectService.selectedProject.description" required>
                      <!--<label for="description">Descripción</label>-->
                  </div>
              </div>
              <div class="file-field input-field">
                <div class="btn">
                  <span>Ficheros</span>
                  <input id="filesEdit" type="file" multiple (change)="handleFileInput($event)" name="files" >
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Añade ficheros al proyecto">
                </div>
                <div id="progressBarEdit" class="progress" style="display: none;">
                  <div class="indeterminate"></div>
                </div>
              </div>
              <div class="row">
                <ul class="collapsible">
                  <li *ngIf="hasDocuments">
                    <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
                    <div *ngFor="let file of fileService.files" class="collapsible-body _{{file._id}}">
                      <span><strong>Nombre:</strong> {{ file.name }}</span><br>
                      <span><strong>Tamaño:</strong> {{ (file.size/1024).toFixed() }} KB</span><br>
                      <span><strong>Tipo:</strong> {{ file.type }}</span>
                      <span class="right" style="cursor: pointer;"><i id="{{file._id}}" class="material-icons delete" (click)="deleteFile($event)">delete</i></span>
                    </div>
                  </li>
                  <li *ngIf="!hasDocuments">
                    <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
                    <div class="collapsible-body"><i class="material-icons" style="vertical-align: bottom;margin-right: 1rem;">do_not_disturb_alt</i>No hay documentos subidos</div>
                  </li>
                </ul>
              </div>
              <div class="row">
                <button id="closeEditProjectModal" style="margin-right: 0.2rem;" class="btn btn-neutral modal-close" (click)="clearForm(frmEditProject)">Cancelar</button> 
                <button id="editProjectForm" class="btn waves-effect waves-light light-blue darken-4 right modal-close" (click)="updateProject(frmEditProject)" name="action">Actualizar</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Project Details Form Modal -->
    <div id="projectDetailsForm" class="modal">
      <div class="modal-content">
        <h4 class="main-heading">Información del proyecto</h4>
        <div class="row">
          <table>
            <tbody>
                <tr>
                    <td>Nombre:</td>
                    <td id="nameDetail"></td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    <td id="descriptionDetail"></td>
                </tr>
                <tr>
                    <td>Lugar:</td>
                    <td id="placeDetail"></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="row">
          <ul class="collapsible">
            <li *ngIf="hasDocuments">
              <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
              <div class="collapsible-body" *ngFor="let file of fileService.files">
                <span><strong>Nombre:</strong> {{ file.name }}</span><br>
                <span><strong>Tamaño:</strong> {{ (file.size/1024).toFixed() }} KB</span><br>
                <span><strong>Tipo:</strong> {{ file.type }}</span>
              </div>
            </li>
            <li *ngIf="!hasDocuments">
              <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
              <div class="collapsible-body"><i class="material-icons" style="vertical-align: bottom;margin-right: 1rem;">do_not_disturb_alt</i>No hay documentos subidos</div>
            </li>
          </ul>
        </div>
          <!--<div class="row">
            <form class="col s12" #frmProjectDetails="ngForm">
              <input id="idDetail" name="_id" type="hidden" #_id="ngModel" [(ngModel)]="projectService.selectedProject._id">
              <div class="row">
                  <div class="input-field col s12">
                    <input id="nameDetail" placeholder="Nombre" type="text" class="validate" name="name" #name="ngModel" [(ngModel)]="projectService.selectedProject.name" disabled>
                    <label for="name">Nombre</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <input id="descriptionDetail" placeholder="Descripción" type="text" class="validate" name="description" #description="ngModel" [(ngModel)]="projectService.selectedProject.description" disabled>
                      <label for="description">Descripción</label>
                  </div>
              </div>
              <div class="row">
                <ul class="collapsible">
                  <li *ngIf="hasDocuments">
                    <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
                    <div class="collapsible-body" *ngFor="let file of fileService.files">
                      <span><strong>Nombre:</strong> {{ file.name }}</span><br>
                      <span><strong>Tamaño:</strong> {{ (file.size/1024).toFixed() }} KB</span><br>
                      <span><strong>Tipo:</strong> {{ file.type }}</span>
                    </div>
                  </li>
                  <li *ngIf="!hasDocuments">
                    <div class="collapsible-header"><i class="material-icons">insert_drive_file</i>Documentos</div>
                    <div class="collapsible-body"><i class="material-icons" style="vertical-align: bottom;margin-right: 1rem;">do_not_disturb_alt</i>No hay documentos subidos</div>
                  </li>
                </ul>
              </div>
              <button id="closeProjectDetailsModal" class="btn btn-neutral modal-close right">Cerrar</button>
          </form>
        </div>-->
        <button id="closeProjectDetailsModal" class="btn btn-neutral modal-close right">Cerrar</button>
      </div>
    </div>

    <!-- Delete Confirmation -->
    <div id="deleteProjectModal" class="modal">
      <div class="modal-content">
        <input id="projectID" type="hidden">
        <input id="projectName" type="hidden">
        <h5>¿Seguro que quiere borrar el proyecto '<span id="projectNameDelete"></span>'?</h5>
        <p>El proyecto se borrará permanentemente.</p>
        <p>
          <label>
            <input id="filesConservationOption" type="checkbox" class="filled-in" />
            <span>Quiero conservar los ficheros del proyecto.</span>
          </label>
        </p>
      </div>
      <div class="modal-footer">
        <button style="margin-right: 0.5rem;" class="btn btn-neutral modal-close">Cancelar</button>
        <button id="deleteProjectModalButton" class="btn waves-effect waves-light red darken-4 right modal-close" (click)="deleteProject()">Borrar</button>
      </div>
    </div>
</div>
  